# Project 4: Predicting a Continuous Target with Regression (Titanic)

**Name:** Saratchandra Golla    
**Date:** November 15, 2025 

**Objective:** Build and evaluate various regression models (Linear, Ridge, Elastic Net, Polynomial) to predict the continuous variable fare using features from the Titanic dataset.

## Section 1: Import and Inspect the Data

### Imports

We import all necessary libraries at the top for professionalism, including those for data manipulation, visualization, model building, and evaluation.

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression, Ridge, ElasticNet
from sklearn.preprocessing import PolynomialFeatures, StandardScaler
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score

# Set the random state for reproducibility
RANDOM_STATE = 123

### Inspect the Data

We load the Titanic dataset and perform an initial inspection to understand its structure and check for missing values.

In [2]:
# Load Titanic dataset from seaborn
titanic = sns.load_dataset("titanic")

print("--- Data Head (First 5 Rows) ---")
print(titanic.head())

print("\n--- Data Information and Missing Values ---")
titanic.info()

--- Data Head (First 5 Rows) ---
   survived  pclass     sex   age  sibsp  parch     fare embarked  class  \
0         0       3    male  22.0      1      0   7.2500        S  Third
1         1       1  female  38.0      1      0  71.2833        C  First
2         1       3  female  26.0      0      0   7.9250        S  Third
3         1       1  female  35.0      1      0  53.1000        S  First
4         0       3    male  35.0      0      0   8.0500        S  Third

     who  adult_male deck  embark_town alive  alone
0    man        True  NaN  Southampton    no  False
1  woman       False    C    Cherbourg   yes  False
2  woman       False  NaN  Southampton   yes   True
3  woman       False    C  Southampton   yes  False
4    man        True  NaN  Southampton    no   True

--- Data Information and Missing Values ---
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   survived     891 non-null    int64
 1   pclass       891 non-null    int64
 2   sex          891 non-null    object
 3   age          714 non-null    float64
 4   sibsp        891 non-null    int64
 5   parch        891 non-null    int64
 6   fare         891 non-null    float64
 7   embarked     889 non-null    object
 8   class        891 non-null    category
 9   who          891 non-null    object
 10  adult_male   891 non-null    bool
 11  deck         203 non-null    category
 12  embark_town  889 non-null    object
 13  alive        891 non-null    object
 14  alone        891 non-null    bool
dtypes: bool(2), category(2), float64(2), int64(4), object(5)
memory usage: 80.7+ KB